# navigation
alias ..="cd .."
alias cdl="cd -"
alias cdn="cd ~/work/notes"

# open projects in vim
alias vimn="cd ~/work/notes && vim . ; cdl"

# applications
alias r="ranger"
alias vim="nvim"
alias drest="docker compose down && docker compose up"
alias gotop="gotop -c monokai -l battery"
alias ydit="yarn audit"
alias ytest="yarn test --coverage"
alias ytesta="yarn test src --coverage"
alias btest="bun test --coverage"
alias yver="yarn list --pattern"
alias ls="eza -a --icons=always -F"

# configs
alias cona="vim ~/.config/.dotfiles/"
alias conz="vim ~/.zshrc"
alias vimrc="cd ~/.config && vim . ; cdl"
alias sourc="source ~/.zshrc"
alias src="source ~/.zshrc"
